body {
    background: linear-gradient(45deg, #000, #222); 
    font-family: Arial, sans-serif;
    margin: 20px;
    color: white;
}

h1 {
    text-align: center;
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    border-bottom: 3px solid #555; 
    padding-bottom: 10px;
    font-family: 'Arial Black', sans-serif;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    width: 70%; /* Aumentar el ancho de la tabla */
    margin: 0 auto; 
    border-collapse: separate; 
    border-spacing: 0; 
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; 
    background-color: #1c1c1c; 
    color: white; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); 
    padding: 20px; 
}

table {
    width: 100%; /* Hacer que la tabla ocupe el 100% del contenedor */
    border-radius: 10px; /* Bordes redondeados para la tabla */
}

th, td {
    border: 1px solid #555; 
    padding: 8px;
    text-align: left;
}

th {
    background: linear-gradient(45deg, #555, #222);
    color: #ffffff; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    border: none;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #2a2a2a; 
}

tr:hover {
    background-color: #444; 
    cursor: pointer; 
}

input[type="text"], input[type="email"] {
    width: calc(100% - 16px); 
    padding: 8px;
    border: 1px solid #555; 
    border-radius: 4px; 
    background-color: transparent; 
    color: white; 
    margin-bottom: 10px; 
}

input[type="text"]:focus, input[type="email"]:focus {
    outline: none; /* Sin borde de enfoque */
    border-color: #007BFF; 
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
    background-color: #333;
    color: #bbb;
    border-top: 3px solid #555;
    font-size: 0.9rem;
}
